[core]
        quotepath = false
        whitespace = trailing-space,space-before-tab,indent-with-non-tab,fix
        editor = emacs
        pager = less
        excludesfile = ~/.gitignore
        autocrlf = input
        trustctime = false
[achievement]
        upload = false
[user]
        name = Manfred Touron
        email = m@42.am
	signingkey = CABAE1B5
[github]
        user = moul
[alias]
        st = status
        oneline = log --pretty=oneline --abbrev-commit --graph --decorate
        svnpull = svn rebase
        svnpush = svn dcommit
        undo = git reset --soft HEAD^
        amend = commit --amend
        fulldiff = "!git diff --stat; git diff --name-status; git diff --cached"
	full-status = "!cd ${GIT_PREFIX:-.}; git status .; find . -type d -name .git -execdir printf \"\\033[0;34m\" \\; -execdir pwd \\; -execdir printf \"\\033[0;29m\" \\; -execdir git status . \\; -execdir printf \"\\n\" \\;"
	full-fetch = "!cd ${GIT_PREFIX:-.}; find . -type d -name .git -execdir printf \"\\033[0;34m\" \\; -execdir pwd \\; -execdir printf \"\\033[0;29m\" \\; -execdir git fetch \\; -execdir printf \"\\n\" \\;"
        assume = update-index --assume-unchanged
        unassume = update-index --no-assume-unchanged
        assumed = "!git ls-files -v | grep ^h | cut -c 3-"
        ours = "!f() { git checkout --ours $@ && git add $@; }; f"
        theirs = "!f() { git checkout --theirs $@ && git add $@; }; f"
[color]
	diff = auto
	ui = auto
	status = auto
	interactive = auto
	branch = auto
[status]
        showUntrackedFiles = normal
[merge]
        tool = ksdiff
        #tool = opendiff
        log = true
[mergetool "ksdiff"]
        #cmd = "ksdiff -w \"$BASE\" \"$LOCAL\" \"$REMOTE\" $MERGED\""
        cmd = "ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot"
[mergetool "sourcetree"]
        cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
        trustExitCode = true
[diff]
        tool = ksdiff
        renames = copies
        algorithm = patience
[difftool "ksdiff"]
        #cmd = "ksdiff \"$LOCAL\" \"$REMOTE\""
        cmd = "ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\""
[difftool]
        prompt = false
[branch]
        autosetuprebase = always
[branch "master"]
        rebase = true
[help]
        autocorrect = 1

[push]
        default = simple
[url "git@onouo.com:"]
        insteadOf = "onouo:"
[url "git@pathwar.net:"]
        insteadOf = "pathwar:"
[url "git@github.com:"]
        insteadOf = "gh:"
[url "git@gist.github.com:"]
        insteadOf = "gst:"

[include]
        path = ".gitconfig_private"

#[credential]
#       helper = osxkeychain
